<div class="mx-5">
    <div *ngFor="let quiz of collection"> 
    <div class="card">           
      <div class="card-body">
        <h4 class="card-title">{{quiz.quizName}}</h4><hr>
        <p class="card-text">{{quiz.noOfQuestions}} Questions</p>
        <a  class="btn btn-sm btn-light" routerLink="{{quiz.id}}">See questions</a>
        <div class="float-end">
       
        <button type="button" class="btn btn-sm btn-warning" (click)="delete(quiz.id)">Delete</button></div>
      </div>
    </div><br><br>
    </div>
    
</div>

    

  